	* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.container-box {
    width: 50%;
    height: 50%;
    float: left;
    padding: 20px;
}

#box1 {
    background: #ccc;
}

#box2 {
    background: #bbb;
    border-left: 1px solid #f00;
}

#box3 {
    background: #aaa;
    border-top: 1px solid #f00;
}

#box4 {
    background: #ddd;
    border-top: 1px solid #f00;
    border-left: 1px solid #f00;
}

